.headbar {
    background-color: #ffffff;
    color: white;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo img {
    height: 30px;
    width: auto;
    margin-right: 0px;
}
.headbar .logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}
.headbar .nav-links {
    display: flex;
    gap: 15px;
}
.headbar .nav-links a {
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    transition: color 0.3s ease;
    padding: 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}
.headbar .nav-links a:hover {
    color: #007BFF;
}
.headbar .search-bar {
    padding: 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    font-size: 1rem;
    width: 200px;
}
.headbar .login {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
}
.headbar .login img {
    height: 30px;
    width: 30px;        
    border-radius: 50%; 
    object-fit: cover;  
    display: block;
}