$my-gray: #e5e5e5;
$light-gray: #f6f6f6;
$dark-gray: #5e5e5e;
$light-blue: rgb(219, 195, 254);
$blue: #544ceb;
$black: #000;
$white: #fff;
$my-gradient: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
$box-size: 42vh;
$unit-size: 1em;