@use 'headbar';
@use 'vars' as v;

body {
  font-family: "Rubik", sans-serif;
  background-color: v.$my-gray;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.main {
  width: 932px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}
img {
    height: 40px;       
    width: auto;        
    margin-right: 2px;
    object-fit: contain; 
  }
.login img {
    height: 30px;
    width: 30px;
    margin-right: 0px;
    border-radius: 50%;
    object-fit: cover;
  }
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.newline {
  display: block;
}

.sameline {
  display: flex;
}

.chart-container {
    display: block;
    width: 100%; 
    height: 100px; 
    margin-top: 15px;
    margin-left: 0; 
}

.stats {
  @extend .newline;
  margin-top: 26px;
  margin-left: 6px;
}

.separate {
  @extend .sameline;
  justify-content: space-between;
}

.box {
  margin-top: v.$unit-size;
  margin-right: v.$unit-size;
  background-color: #fff;
  border-radius: v.$unit-size;
  min-width: 300px;
  min-height: 300px;
}

.boxstuff {
  margin: v.$unit-size*1.5;
}

.one {
  @extend .box;
  grid-row: 1 / 3;
}

.two {
  @extend .box;
}

.three {
  @extend .box;
}

.four {
  @extend .box;
  grid-column: 2 / 4;
}

.large {
  font-weight: 400;
  font-size: 42px;
  margin-top: 16px;
}

h4, h6 {
  margin: 0;
}

.green, .blue {
  margin-right: v.$unit-size;
  border-radius: 6px;
  padding: 6px;
}

.green {
  background-color: #dcffd7;
  color: #235223;
}

.blue {
  background-color: #d7ecff;
  color: #233652;
}

p {
  margin: 0;
  font-size: 12px;
}

@media (max-width: 900px) {
    .main {
    width: 100vw;
  }

  .container {
    margin-left: 10vw;
  }

  .three {
    grid-column: 2 / 3;
  }

  .four {
    grid-column: 1 / 3;
  }
}

@media (max-width: 630px) {
  .main {
    width: 100vw;
  }

  .container {
    margin-left: 17vw;
  }

  .one {
    height: 600px;
  }
  
  .two {
    grid-row: 3 / 4;
  }

  .three {
    grid-column: 1 / 2;
  }

  .four {
    height: 600px;
    grid-column: 1 / 2;
  }
}