@use "../Main-page/headbar";
@use '../Main-page/vars' as v;

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  background: v.$my-gradient;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  width: 900px;
  height: 100vh;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.content p {
    font-style: arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
}

.content h1 {
    font-style: bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.content {
    margin: 2em;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 3em;
}

button {
    background-color: v.$light-blue;
    border-radius: 1em;
}

button:hover {
    background-color: v.$blue;
    cursor: pointer;
    color: v.$white;
}

@media (max-width: 900px) {
  .main {
    width: 100vw;
  }
}

@media (max-width: 630px) {
  .main {
    width: 100vw;
  }
}