@use 'headbar';
@use 'vars' as v;

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  background: v.$my-gradient;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.main {
  width: 932px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

img {
  height: 40px;       
  width: auto;        
  margin-right: 2px;
  object-fit: contain; 
}

.login img {
  height: 30px;
  width: 30px;
  margin-right: 0px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@mixin block {
  display: block;
}

.newline {
  @include block;
}

.newline p, .hmar {
  color: v.$dark-gray;
}

.sameline {
  display: flex;
}

.sameline img {
  margin-right: 12px;
  border-radius: 50%;
}

.chart-container {
    @include block;
    width: 100%; 
    height: 100px; 
    margin-top: 30px;
    margin-left: 0; 
}

.stats {
  @extend .newline;
  margin-top: 26px;
  margin-left: 6px;
}

.separate {
  @extend .sameline;
  width: 100%;
  justify-content: space-between;
}

.box {
  margin-top: v.$unit-size;
  margin-right: v.$unit-size;
  background-color: #fff;
  border-radius: v.$unit-size;
  min-width: 300px;
  min-height: 300px;
}

.boxstuff {
  margin: v.$unit-size*1.5;
}

.btnswitch {
  background-color: v.$white;
  border-color: v.$light-gray;
  border-radius: 1em;
}

.btnswitch:hover {
  background-color: v.$light-blue;
  cursor: pointer;
}

.one {
  @extend .box;
  grid-row: 1 / 3;
}

.two {
  @extend .box;
}

.three {
  @extend .box;
}

.four {
  @extend .box;
  grid-column: 2 / 4;
}

.large {
  font-weight: 400;
  font-size: 42px;
  margin-top: 16px;
}

h3, h4, h6 {
  margin: 0;
}

h5 {
  margin-top: 6px;
}

.mentor {
  margin: 0;
  margin-top: 6px;
}

.green, .blue {
  margin-right: v.$unit-size;
  border-radius: 6px;
  padding: 6px;
}

.green {
  background-color: #dcffd7;
  color: #235223;
}

.blue {
  background-color: #d7ecff;
  color: #233652;
}

#orange {
  background-color: #ff9900;
  margin: 0;
  padding: 2px;
  border-radius: 1em;
}

p {
  margin: 0;
  font-size: 12px;
}

.hmar {
  margin-top: 6px;
  margin-left: 6px;
}

.labels {
  position: absolute;
  margin-top: 6px;
}

.graph {
  height: 175px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.bar {
  border-radius: 10px;
}

.mid {
  position: absolute;
  margin-top: 75px;
}

.black {
  background-color: v.$black;
  color: v.$white;
  border-radius: v.$unit-size;
  padding: 3px;
}

@mixin day {
  margin: 1px;
  background-color: v.$light-blue;
}

.mon {
  @include day;
  grid-column: 1 / 2;
  grid-row: 14 / 20;
}

.tue {
  @include day;
  grid-column: 2 / 3;
  grid-row: 15 / 20;
}

.wed {
  @include day;
  grid-column: 3 / 4;
  grid-row: 7 / 20;
}

.thu {
  @include day;
  grid-column: 4 / 5;
  grid-row: 13 / 20;
}

.fri {
  @include day;
  grid-column: 5 / 6;
  grid-row: 3 / 20;
  background-color: v.$blue;
}

.sat {
  @include day;
  grid-column: 6 / 7;
  grid-row: 9 / 20;
}

.sun {
  @include day;
  grid-column: 7 / 8;
  grid-row: 5 / 20;
}

.innerbox {
  background-color: v.$light-gray;
  border-radius: v.$unit-size;
  padding: 15px;
  height: 195px;
}

.wide .separate {
  display: flex;
}

.inwidth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.platforms {
  margin-top: 36px;
  height: 250px;
}

.subtitle {
  margin-bottom: 12px;
}

#mid {
  margin-left: 12px;
  margin-right: 12px;
  background-color: v.$blue;
  color: v.$light-gray;
}

#light {
  color: v.$light-gray;
}

@media (max-width: 900px) {
  .main {
    width: 100vw;
  }

  .container {
    margin-left: 10vw;
  }

  .three {
    grid-column: 2 / 3;
  }

  .four {
    grid-column: 1 / 3;
  }
}

@media (max-width: 630px) {
  .main {
    width: 100vw;
  }

  .container {
    margin-left: 17vw;
  }

  .one {
    height: 625px;
  }
  
  .two {
    grid-row: 3 / 4;
  }

  .three {
    grid-column: 1 / 2;
  }

  .four {
    height: 625px;
    grid-column: 1 / 2;
  }

  .inwidth {
    height: 150px;
  }

  #mid {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #boxrow {
    @include block;
    width: 225px;
  }
}